{% extends "index.html" %}

{% block nav %}
<ul>
    <li><a href="/">Start</a> </li>
    <li><a href="/Programmierung">Programmierung</a> </li>
    <li><a href="/kali_linux">Kali Linux</a></li>
    <ul>
        {% for i in navbar(seite) %}
        <li><a href="{{ i }}"> {{ i }}</a> </li>
        {% endfor %}
    </ul>
</ul>
{% endblock %}


{% block content %}
<h2> Kali Linux </h2>
<article>
    <p> Wo auch immer, alle herkommen und aufmal Kali nutzen wollen, ich kanns verstehen. Kali ist halt schon verdammt geil. Zum entwickeln, wenn ich unterwegs bin in der bahn oder so, find ichs genial, da einfach hunderte Python packages bereits Installiert sind.
    Es ist übersichtlich, hatt alle hand an Tools vorinstalliert und ist einfach Geil. Da sowieso fast jeder in der Florensik oder zum Pentesting auch Kali nutzt und viele es derzeit auch einfach nur anschauen um zu schauen, was es für möglichkeiten gibt, will ich auch hierzu einige Dokumentationen machen.
    Dabei ist jedoch zu beachten, dass viele Tools sehr mächtig sind. Sie sollten sich also bewusst sein, was sie machen und versuche nur an Ihren Systemen bzw testsystemen Ausführen. Andernfalls machen Sie sich schnell strafbar. </p>
</article>
{% endblock %}