{% extends "index.html" %}

{% block nav %}
{% include "asides/devside.html" %}
{% endblock %}

{% block content %}
<h2> Hier kommt irgendwann mal irgendetwas zu Python hin. </h2>
<article>
    <p> Python. Kann als Objektorientierte Sprache und auch als Skriptsprache gesehen. 
    Sie kann einfach sein, doch auch komplex. Es Liegt in Ihrer Hand, was Sie aus dem Werkzeug machen, da Sie der Künstler sind.</p> 
    <p> Einige Hassen Sie, andere Lieben Sie. Python. Auch ich habe Python damals gehasst und eher vermieden. Doch sehe ich dies nun als Fehler.</p>
    <p> Damals als ich mit C# angefangen hatte und mein erstes Projekt machte mit winforms... ich habe 3 Wochen daran gesessen und ~1400 Zeilen Programmcode geschrieben. 
    Nun habe ich in Pyhon ein remake geschrieben. Plattformunabhängig, jedenfalls läuft Sie unter Linux und Windows. 300 Zeilen Programmcode, wobei ich selbst das UI mit PyQt5 selbst geschrieben hab in der selben Datei.</p>
    <p>Anfangs viel es mir sehr schwer Python zu lernen... Ich lernte die Grundlagen indem ich Adressbücher und Zahlenraten schrieb für die Console, alles sehr trocken. Ich habe alles mögliche gelernt, doch scheiterte es daran, 
    dass ich vergessen hatte, dass es live interpretiert wird. Und somit wunder ich mich, wieso eine Funktion nicht diffiniert sein soll, da ich diese Aufrufen wollte, bevor Sie gelesen wurde. War mir alles sehr ungewohnt und fremd kein compiler zu haben.</p>
    <p> Inzwischen habe ich mich in Python verliebt. Lange hab ich nicht mehr so viel gelernt und es wird einfach nicht langweilig. </p>
    <p> Python ist an sich vllt nicht soooooo besonders, doch ist die Community riesig. Somit gibt es auch tausende Module und dies ist ein riesen Punkt in Python.</p>
</article>

<h2>Was Findet man hier?</h2>
<article>
    <p> Eventuell gebe ich einige Tipps und Lösungen zu Problemen, welche mir viel unnötige Zeit gekostet habe. Seiten um eine for schleife oder while schleife zu lernen, gibt es jedoch genug. Auch Bücher gibt es nicht zu wenige.
    Ob ich die Grundlagen komplett durchgehen werde, kann ich noch nicht sagen, jedoch will ich zu einigen Modulen was nennen und diese Vorstellen. </p>
</article>

<h2>a Zen of Python</h2>
<article>
    <ul>
        <li>Beautiful is better than ugly. </li>
        <li>Explicit is better than implicit. </li>
        <li>Simple is better than complex. </li>
        <li>Complex is better than complicated. </li>
        <li>Flat is better than nested. </li>
        <li>Sparse is better than dense. </li>
        <li>Readability counts. </li>
        <li>Special cases aren't special enough to break the rules. </li>
        <li>Although practicality beats purity. </li>
        <li>Errors should never pass silently. </li>
        <li>Unless explicitly silenced. </li>
        <li>In the face of ambiguity, refuse the temptation to guess. </li>
        <li>There should be one-- and preferably only one --obvious way to do it. </li>
        <li>Although that way may not be obvious at first unless you're Dutch. </li>
        <li>Now is better than never. </li>
        <li>Although never is often better than *right* now. </li>
        <li>If the implementation is hard to explain, it's a bad idea. </li>
        <li>If the implementation is easy to explain, it may be a good idea. </li>
        <li>Namespaces are one honking great idea -- let's do more of those! </li>
    </ul>
</article>
{% endblock %}