{% extends "index.html" %}

{% block nav %}
<ul>
    <li><a href="/">Start</a> </li>
    <ul>
        {% for i in navbar(seite) %}
        <li><a href="{{ i }}"> {{ i }}</a> </li>
        {% endfor %}
    </ul>
    <li><a href="/Programmierung">Programmierung</a> </li>
    <li><a href="/kali_linux">Kali Linux</a></li>
   
</ul>
{% endblock %}


{% block content %}
<h2> Add News </h2>
<article>
    <form action="" method="post">
        <table border="0", id="news">
            <tr>
                <td>Datum:</td>
                <td><input type="text" name="datum" placeholder="Datum" required</td>
            </tr>
            <tr>
                <td>Titel:</td>
                <td><input type="text" name="titel" placeholder="Titel" required</td>
            </tr>
            <tr>
                <td>News:</td>
                <td><textarea name="news" cols="240" rows="20"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Eintragen" name="eintragen" /></td>
            </tr>
        </table>
    </form>
    {% if error %}
    <p class="error"><strong>Error: </strong> {{ error }}</p>
    {% endif %}
</article>
{% endblock %}