@media screen{
	#wrapper{
		margin-left: auto;
		margin-right: auto;
		background-color: #999;
		width: 980px;
	    height: auto; /* 900 */    
	}


	body{
		 background-color: #666;
		margin-top: 20px;
		font-family: Arial, Helvetica, sans-serif;
		/*background: #f6ff53; /* old browser*/
	    /*background: -moz-linear-gradient(top, #f6ff53 55%); /* FireFox 3.7 – 15 */
	    /*background: -webkit-linear-gradient(top, #f6ff53 0%,#b6e842 55%); /*Chrome 10 – 25,  Safari5.1 – 6 */
	    /*background: linear-gradient(to bottom, #f6ff53 0%, #b6e842 55% );
	    /*filter: progid:DXImageTransform.Microsoft.grandient( startColorstr='#f6ff53', endColorstr='#b6e842',GrandientType=0); /* Internet Eplorer 6-9 */
	}


	header{
		width: 100%;
		height: 150px;
		background-color: #0F0;
		
	} 

	nav{
		width: 100%;
		height: 50px;
		background-color: #000;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-weight: bold;
		font-family:  Arial, sans-serif;
		padding-top: 1px;
		text-align: center;
		background: -moz-radial-gradient(center, ellipse cover, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 83%, rgba(56,56,56,1) 87%, rgba(149,149,149,1) 100%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 83%,rgba(56,56,56,1) 87%,rgba(149,149,149,1) 100%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 83%,rgba(56,56,56,1) 87%,rgba(149,149,149,1) 100%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0d0d', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}

	nav ul li{
		list-style-type: none;
	}

	nav ul li a{
		height: 30px;
		width: 250px;
		display: block;
		float: left;
		text-decoration: none;
		color: #FFF;
	}



	aside{
		width: 240px;
	    min-height: 830px; /* 590 */
	    height: ;
		background-color: #E9E9E9; /* E9E9E9 */
		margin-left: 10px;
		/*padding-right: 10px;
		
		margin-left: 10px;
		margin-right: 10px;
		/*float: left;*/
		
	}

	#links, #rechts{
		height: auto;
	}

	#TanzAusDenMai{
		/* width: 	250px;
		height: 500px;
		margin-left: 10px;
		margin-top: 10px;
		position: absolute; */
		position: absolute;
		margin-left: 10px;
		margin-top: 10px;
		width: 220px;
		height: 420px; 

	}

	#EventAnfahrt{
		position: absolute;
		width: 220px;
		height: 370px;
		margin-left: 10px;
		margin-top: 440px;

	}


	section {

		margin-left: 300px; 
		margin-right: 10px;
		/*margin-bottom: 10px;*/
		width: 680px;
		min-height: 820px;
		height: ; /* 590 /760 */ 
		background-color: #E9E9E9; /* #E9E9E9 */
		float:right;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		/*overflow: auto;*/

		
	}

	section article{
		margin-top: 10px;
		/*border: 1px dotted blue;*/
	}

	section h1{
		color: #000;
	}

	#links, #rechts{
		height: auto;
	}



	body > footer{
		width: 100%;
		height: 50px;
		margin-top: 10px;
		text-align: center;
		font-size: 12px;
		color: #0F0;
	}





	.shadowWrapper{
		/* webkit... moz für mozialla, box für andere browser die webkit nicht unterstützen */
		-webkit-box-shadow: 0px 10px 20px #0A0;
		-moz-box-shadow: 0px 10px 20px #0A0;
		box-shadow: 0px 10px 20px #0A0;
	}

	.shadowBody{
		-webkit-box-shadow: 0px 10px 20px #0A0;
		-moz-box-shadow: 0px 10px 20px #0A0;
		box-shadow: 0px 1px 10px #E9E9E9;
	}

	/* article footer{
		margin-left: 100px;
		text-align: center;
		width: 400px;
		height: 20px;
		font-size: 12px;
		font-family: Calibri, sans-serif;
		color: black;
		background-color: #F8F2EF;
		border: 1px solid #F7BE81;
		padding:  5px;
		margin-bottom: 40px;
	} */
	footer{
		width: 100%;
		height: 50px;
		/*background-color: #000;*/
		margin-top: 10px;
		font-weight: bold;
		padding-top: 1px;
		text-align: center;
		background: -moz-radial-gradient(center, ellipse cover, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 83%, rgba(56,56,56,1) 87%, rgba(149,149,149,1) 100%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 83%,rgba(56,56,56,1) 87%,rgba(149,149,149,1) 100%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 83%,rgba(56,56,56,1) 87%,rgba(149,149,149,1) 100%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0d0d', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}

	footer ul li{
		list-style-type: none;
	}

	footer ul li a{
		height: 30px;
		width: 300px;
		display: block;
		float: left;
		text-decoration:none;
		color: #FFF;
		/*background-color: blue;*/
	} 

	#Anfahrt{
		width: 650px;
		height: 270px;
		border: 10px dotted blue;
		
	}

	footer #copyright{
		margin-left: 50px;
	}

	/*.logoslide{
		display: none;
	}*/

	#logo{
		position: absolute;
	    left: 25%;
	    width: 500px;
	    height: 130px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	   /* border: 1px dotted blue;*/

	}

	.logo{
		width: 50%;
		height: 130px;
		text-align: center;
	}

	.logoslide{
		text-align: center;
		width:100%;
	}


		/* Das Kontaktformular */
	form {
	  background-color: #eee;
	  width: 620px; /* Breite des Formulars 370px*/
	  height: 420px;
	  padding: 20px;
	  border: 1px solid #8c8c8c;
	}
	label { /* Beschriftung auf eigener Zeile */
	  display: block;
	  cursor: pointer; /* Mauszeiger wird zur Hand */
	}
	input#absender, textarea {
	  width: 620px;
	  border: 1px solid #8c8c8c;
	  margin-bottom: 1em;
	}
	textarea {
	  height: 26em;
	}
	input:focus,textarea:focus {
	  background-color: #d9d9d9;
	}


}

@media printer{
/*  ===================================================
	Stylesheet für die Druckseite von iParty
	Stand: Druckversion
	Datei: druckversion.css
	Media: print
	Datum: 18.05.2016
	Autor: iParty
	=================================================== */
	body {
 	 font-family: Georgia, "Times New Roman", Times, serif;
	  font-size: 11pt;
	}

	article h1, h2 { 
		font-family: Verdana, Arial, Helvetica, sans-serif; 
		color: red;
	}
}

@media screen and ( max-width: 500px ) {
    /* CSS-Anweisungen für die Ausgabe auf Bildschirmen bis maximal 500 Pixel */

}

@media only screen and ( max-width: 500px ) {
    /* CSS-Anweisungen für die Ausgabe auf Bildschirmen bis maximal 500 Pixel */
}

@media only screen and ( min-width: 950px ) {
    /* breites Browserfenster */
    
}
@media only screen and ( max-width: 440px ) {
    /* mobile Geräte */
	
}
@media only screen and ( min-width: 440px ) and ( max-width: 950px ) {
    /* Tablets und mittlere Bildschirme */

    
}

