#wrapper
{
	/* wrapper halt, äußerster kasten überhaupt indem alles liegt. */
	margin-left: auto;
	margin-right: auto;
	background-color: #999;
	width: 95%;
	height: auto; /* 900 */
}

body
{
	/* Unser kompletter Inhalt. 
	Margin-top für einen mindest abstand von Oben. Zudem bestimmen wir mehrere schriftarten, falls eine nicht installiert sein sollte. */
	background-color: #666;
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
 
header
{
	/* Unser Header, recht klein und simple gehalten. */
	width: 100%;
	height: 50px;
	background-color: #0F0; 
	text-align: center;
}

nav
{
	/* weite soll sich über dem gesamten body erstrecken */
	width: 100%;
	/* Höhe soll 50px sein */
	height: 50px;
	/* Alles soll großgeschrieben sein. */
	margin-bottom: uppercase;
	/* und alles soll ebenso fett geschrieben werden. */
	font-weight: bold;
	/* 1px abstand zum header */
	padding-top: 1px;
	/* text soll mittig gestellt werden */
	text-align: center;
	/* Background für alle gängigen Browser eingestellt. Nicht selbst geschrieben, sondern von einer externen Seite etwas zusammen geklickt. 
	Link: http://www.colorzilla.com/gradient-editor/ 
	Youtube tut: incoming*/
	background: -moz-radial-gradient(center, ellipse cover, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 83%, rgba(56,56,56,1) 87%, rgba(149,149,149,1) 100%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 83%,rgba(56,56,56,1) 87%,rgba(149,149,149,1) 100%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 83%,rgba(56,56,56,1) 87%,rgba(149,149,149,1) 100%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0d0d', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

nav li
{
	margin-left: 20px;
	display: inline;
	list-style-type: none;
	width: 250px;
}



/*nav ul li a
{
	height: 30px;
	width: 200px;
	display:inline;
}*/

section
{
	/* float right... damit der content auf der rechten Seite ist. Dadurch wird die aside automatisch eingerückt. */
	float: right;
	/* Zudem muss man beachten, die % geringer zu halten, als es mit der aside zusammen ergibt.  */
	width: 80%;
	/*height: 600px;*/
	background-color: green;
}

section article
{
	border-color: green;
	border-width: 5px;
	border-style: solid;
}


#left, #right
{
	margin-left: 10px;
	margin-right: 10px;
	margin-top:20px;
	min-height: 600px;
    height: auto;

}
aside
{
    background-color: #AFAFAF;
	width: 15%;
	border: 2px blue dotted;
    float: left;
}

aside ul
{
    margin-top: 10%;
	list-style: none;

}

aside ul li
{
    margin-top: 1%;
}



footer
{
	width: 100%;
	height: 50px;
	margin-top: 10px;
	font-weight: bold;
	padding-top: 1px;
	background: -moz-linear-gradient(top, rgba(15,229,11,0.8) 0%, rgba(20,210,53,0.8) 14%, rgba(41,137,216,0.95) 69%, rgba(26,190,97,1) 87%, rgba(15,229,11,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(15,229,11,0.8) 0%,rgba(20,210,53,0.8) 14%,rgba(41,137,216,0.95) 69%,rgba(26,190,97,1) 87%,rgba(15,229,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(15,229,11,0.8) 0%,rgba(20,210,53,0.8) 14%,rgba(41,137,216,0.95) 69%,rgba(26,190,97,1) 87%,rgba(15,229,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0fe50b', endColorstr='#0fe50b',GradientType=0 ); /* IE6-9 */
}


footer li
{
	list-style-type:none;
	display: inline;
}

footer li a
{
	width: 200px;
	margin-left: 20px;
}

