{% extends "index.html" %}

{% block nav %}
{% include "asides/startside.html" %}
{% endblock %}


{% block content %}
<h1> News</h1>
<h2>  </h2>

    {% if baka %}
    {% for value in baka.values() %}
    <h2> {{ value[2] }}</h2>
    <article>
            <p> {{ value[3] }}</p>
            <p id="autor"> Geschrieben von {{ value[0]}} am {{ value[1]}}</p>
    </article>
    {% endfor %}
    {% endif %}

{% endblock %}

"""
    
    for i in eintragdb:
        i.titel
        autor
        eintragid if user == admin
        datum
    h2 titel h2 
    article 
    datum, autor
    text
"""