{% extends "index.html" %}

{% block nav %}
<ul>
    <li><a href="/">Start</a> </li>
    <ul>
        {% for i in navbar(seite) %}
        <li><a href="{{ i }}"> {{ i }}</a> </li>
        {% endfor %}
    </ul>
    <li><a href="/Programmierung">Programmierung</a> </li>
    <li><a href="/kali_linux">Kali Linux</a></li>
    
</ul>
{% endblock %}


{% block content %}
<h1> News</h1>
<h2>  </h2>

    {% if baka %}
    {% for value in baka.values() %}
    <p> {{ value[2] }}</p>
    <article>
            <p> {{ value[3] }}</p>
            <p id="autor"> Geschrieben von {{ value[0]}} am {{ value[1]}}</p>
    </article>
    {% endfor %}
    {% endif %}

{% endblock %}

"""
    
    for i in eintragdb:
        i.titel
        autor
        eintragid if user == admin
        datum
    h2 titel h2 
    article 
    datum, autor
    text
"""