{% extends "index.html" %}

{% block nav %}
{% include "asides/linuxside.html" %}
{% endblock %}

{% block content %}
<h2> Linux</h2>
<article>
    <p>
        Linux. Die einen Lieben es, andere kennen es nicht. Ich kenne jedoch bislang keine Person, welche Linux hasst, nachdem Sie sich etwas mehr mit dem Beschäftigt hatte. Jedoch kenn ich umso mehr Personen, welche von Windoof auf Linux gestiegen sind und inzwischen nichts anderes mehr wollen. So wie ich.
        Linux ist schon was tolles und wenn man nicht grade nur vorm PC sitzt um zu Zocken, bietet es sich für fast alles perfekt an. Wobei ich selbst Zocke unter Linux. WoW läuft via Playonlinux bzw Wine perfekt und csgo läuft sowieso unter Linux und mehr brauch ich nicht.
    </p>
    <p>Ich werde hier Tipps, Tricks und Grundlagen zu Linux auflisten. </p>
</article>
{% endblock %}