{% extends "index.html" %}

{% block nav %}
{% include "asides/databaseside.html" %}
{% endblock %}

{% block content %}
<h2> Datenbanken</h2>
<article>
    <p> Datenbanken Spielen in der Informatik eine sehr wichtige Rolle. Da Oftmals tausende oder millionen von Daten ausgetauscht, gepeichert und abgerufen werden müssen, wurde etwas Entwickelt um dies zu ermöglichen.</p>
    <p> Klar könnte man daten auch in einem Textdokument oder xml datei Speichern, doch würde die abfrage bei großen Datenmängen wahrscheinlich eweig dauern. </p>
</article>
{% endblock %}